{% extends 'base.html' %}
{% block title %}Hymns | Error{% endblock %}

{% block main_content %}
        <section class="flex text-gray-600 relative flex-1">
            <div class="w-4/5 md:w-2/4 xl:w-1/4 flex justify-center items-center mx-auto">
                <div class="flex flex-wrap px-5 py-5">
                    <div class="w-full border-b border-gray-200 mb-5">
                        <h2 class="py-3 text-3xl">Oops</h2>
                    </div>
                    <div class="w-full py-5">
                        <div class="relative">
                            <p class="leading-5 text-lg text-gray-600">{{ detail }}</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="relative">
                            {% if helpful_link %}
                            <p class="leading-5 text-sm text-gray-600">Go back <a class="text-indigo-500" href="{{url_for(helpful_link.1)}}">{{helpful_link.0}}</a></p>
                            {% else %}
                            <p class="leading-5 text-sm text-gray-600">Go back <a class="text-indigo-500" href="{{url_for('get_admin_home')}}">Home</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}