{% extends 'base.html' %}
{% block title %}Hymns | Verify OTP{% endblock %}

{% block main_content %}
        <section class="flex text-gray-600 relative flex-1">
            <form class="w-4/5 md:w-2/4 xl:w-1/4 flex justify-center items-center mx-auto" method="post" action="{{url_for('verify_otp')}}">
                <div class="flex flex-wrap px-5 py-5">
                    <div class="w-full border-b border-gray-200 mb-5">
                        <h2 class="py-3">Confirm OTP</h2>
                        <p>A one-time password has been sent to your email.</p>
                    </div>
                    <div class="w-full">
                        <div class="relative">
                            <label for="otp" class="leading-5 text-xs text-gray-600">OTP</label>
                            <input type="text" id="otp" name="otp"
                                class="w-full bg-gray-100 bg-opacity-50 rounded border-b border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-1 px-3 leading-5 transition-colors duration-200 ease-in-out">
                        </div>
                    </div>

                    <input type="hidden" name="csrftoken" value="{{ request.state.csrftoken }}" >

                    <button type="submit"
                        class="w-full text-white bg-indigo-500 border-0 py-1 px-3 my-5 focus:outline-none hover:bg-indigo-600 rounded text-sm">Submit</button>
                </div>
            </form>
        </section>
        <footer class="text-gray-600">
            <div class="bg-gray-100">
                <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                    <p class="text-gray-500 text-sm text-center sm:text-left">© 2023 SopherApps —
                        <a href="https://sopherapps.com" class="text-gray-600 ml-1" target="_blank"
                            rel="noopener noreferrer">@sopherapps</a>
                    </p>
                    <span
                        class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">
                        "Come to me, all you who are weary and burdened, and I will give you rest." - Matthew 11:
                        28</span>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}